$color-light: rgba(240, 237, 244, 1);
$color-dark: rgba(48, 48, 64, 1);
$color-primary: rgba(154,55,248,1);
$color-secondary: rgba(49,40,125,1);
$color-tertiary: rgba(67,168,244,1);

@font-face {
  font-family: 'Harmonia';
  font-weight: normal;
  src: url('~assets/fonts/Harmonia-Regular.otf') format('opentype');
  font-display: swap;
}

::selection {
  color: $color-light;
  background: $color-tertiary;
}

body {
  margin: 0;
  line-height: 1.5;
  font-size: 1.2em;

  font-family: "Harmonia";
  padding: 0;

  color: $color-dark;
  background-color: $color-light;
}

h2 {
  font-weight: normal;
  font-size: 3em;
}

@mixin page-item {
  max-width: 75em;
  margin: auto;
  padding: 0 0.5em;
}
